<div class="container">
  <div class="row">
    <div class="col-12 mt-5">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner banner-relative">
          <div class="carousel-item active">
            <img src="../../assets/banner1.jpg" class="d-block banner-image" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/banner2.jpg" class="d-block banner-image" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/banner3.jpg" class="d-block banner-image" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/banner4.jpg" class="d-block banner-image" alt="...">
          </div>
          <div class="banner-absolute">
            <div class="col-8 col-sm-7 col-md-6">
              <h1>Only on Netflix</h1>
              <h6>Netflix is the home of amazing original programming that you can’t find anywhere else. Movies, TV
                shows, specials and more, all tailored specifically to you.</h6>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>